* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form {
    align-items: center;
    background:rgb(195, 195, 195);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin:250px auto;
    padding: 3.5rem 2rem 3.5rem 2rem;
    width: 400px;
}
#name,
#password,
#button-submit {
    border: 2px solid white;
    border-radius:5px;
    font-size: 25px;
    margin: 1rem;
    text-align: center;
    padding: 0.5rem;
    width: 100%;

} 
#button-submit {
    border: 0px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    padding: 0.5rem;
}
#error {
    font-size: 20px;
    display: block; 
}
